<div class="container">
  <div class="login-container">
    <h1 class="login-title">Log In</h1>

    <div class="input-container">
      <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" />
    </div>

    <div class="input-container">
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" />
    </div>

    <button type="button" class="btn btn-primary login-button" (click)="login()">Login</button>
    <button type="button" class="btn btn-outline-secondary login-button" [routerLink] = "'/createAccount'">Create Account</button>
  </div>
</div>
