
<div>
    <p>Balance: {{currentUser().balance | currency}}</p>

</div>
<div class="px-1 ">
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>

          </tr>
        </thead>
        <tbody>
            
          <tr *ngFor="let row of transactions()">
            <th scope = "row">{{row.transactionId}}</th>
            <td >{{row.date}}</td>
            <td 
              [ngClass]="{
                'text-success': (row.type == 'DEPOSIT')
              }"
              >
              <div *ngIf="! (row.type == 'DEPOSIT') ">
                -{{row.amount | currency}} 
              </div>
              <div *ngIf="(row.type == 'DEPOSIT') ">
                +{{row.amount | currency}} 
              </div>
                
            </td>
            <td >{{row.description}}</td>
            <td *ngIf = "row.paid">
                <div *ngIf="! (row.type == 'DEPOSIT') ">
                Paid on: {{row.paidOn}}
              </div>
              <div *ngIf="(row.type == 'DEPOSIT') ">
                Completed
              </div>
            </td>
            <td *ngIf = "!row.paid">
                <button (click) = "payTransaction(row.transactionId)">Pay</button>
            </td>
            <td>
              {{row.type}}
            </td>
          </tr> 

        </tbody>
      </table>
</div>
