<div class="card " style="width: 30rem;">
    <div class="card " style="width: 30rem;">
        <div class="card-body">
        <h5 class="card-title">Gas Station</h5>
        <h6 class="card-subtitle mb-2 text-muted">Amount: $20</h6>
        <h6 class="card-subtitle mb-2 text-muted">Date: 1-9-2023</h6>
        </div>
    </div>
    
    <div class="container">
        <div class="row" *ngFor="let row of categoryButtonsSignal()">
            <div class="col-5 d-flex " >
                <button *ngFor="let col of row" class="btn btn-outline-primary p-4 rounded-0 border border-dark" >
                    {{col.name}}
                </button>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-5 d-flex " >
                <button class="btn btn-outline-primary p-4 rounded-0 border border-dark">Food</button>
                <button class="btn btn-outline-primary p-4 rounded-0 border border-dark">Gas</button>
                <button class="btn btn-outline-primary p-4 rounded-0 border border-dark" >Home Goods</button>
                <button class="btn btn-outline-primary p-4 rounded-0 border border-dark">Transportaiton</button>
            </div>
        </div> -->
        
    </div>
        
        <div>
            <button>Previous</button>
            <button>Next</button>
        </div>

</div>


