<div class="container mt-4">
    <!-- Render Transaction Card -->
    <div *ngIf="uncatTransactionList() != undefined && transactionListIndex() != uncatTransactionList().length && uncatTransactionList() != []; else allCategorized">
      <!-- Navigation Buttons -->
      <div class="d-flex justify-content-between mt-3">
        <button *ngIf="transactionListIndex() != 0"
                class="btn btn-secondary"
                (click)="buttonPrevious()">
          Previous
        </button>
        <button *ngIf="transactionListIndex() != uncatTransactionList().length - 1"
                class="btn btn-secondary"
                (click)="buttonNext()">
          Next
        </button>
      </div>
      <div class="card shadow-sm">
        <div class="card-body">
          <!-- Transaction Details -->
          <div class="mb-3">
            <h5 class="card-title">{{ getCurrentTransaction().description }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Amount: {{ getCurrentTransaction().amount | currency}}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              Type: {{ getCurrentTransaction().type }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              Date: {{ getCurrentTransaction().date | date }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              Id: {{ getCurrentTransaction().transactionId }}
            </h6>
          </div>
          <!-- Categorize Buttons -->
          <div *ngFor="let outerArray of categoryButtonsSignal()">
            <div class="d-flex flex-wrap mb-2">
                <ng-container *ngFor="let category of outerArray">
                  <button *ngIf="category.type ===  getCurrentTransaction().type"
                    class="btn m-1 p-3 rounded-0 border border-dark"
                    [ngClass]="{
                      'btn-outline-primary': getCurrentTransaction().category?.categoryId != category.categoryId,
                      'btn-primary': getCurrentTransaction().category?.categoryId == category.categoryId
                    }"
                    (click)="assignCategory(category.categoryId)">
                    {{ category.name }}
                  </button>
                </ng-container>
                  
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- All Transactions Categorized Message -->
    <ng-template #allCategorized>
      <div class="alert alert-success text-center mt-4">
        All Transactions Categorized!
      </div>
    </ng-template>
  </div>