The objective of this application is to help the user organize their finances

I think the main story is, there will be the fact that the user sees how much they make, and how
much they are spending regularly, then they can see the delta, use bins to minimize spending
,increasing the delta, then they can take that delta and put it into different saving bins

Potential mechanisms:
    Allow a swiping system to show the user all of their transactions, and catagorize them
    into 'bins'

    These bins will be customizable

    Set spending limits on said bins, allowing the user to easily check how much budget they
    have left on any given bin, for any given period, thus guiding their spending habits

    Potentially a distinction between saving bins and spending bins

        Saving bins will consume a certain amount of money periodicly, or the user can manually
        submit money to the bins

        Goals can be set for large purchases, or vacations, or etc, the user can see how much
        they make in a period and decide how much to contribute to the bin per period, in order to
        save up enough


First Steps:

    USER STORIES:

        ✓ create user
        ✓ Manually create transaction
        ✓ view all transactions per user
        ✓ Get User Data
        ✓ pay transaction(subtracts from account balance)

        Log into account
    TABLES:
        Transactions
            Transaction details
            paid boolean
            userID
        User
            User information

    User should be able to log in and view their transaction history



    Advanced:
        I think a good first set of requirements would be:
            User can vist the homepage, and...
            Upload their financial history
            View their 'feed', sorting each item into bins of their choice
            view each 'bin's total, on a dashboard, and click to see the exact transactions within the bin

        **Users should not create tables when organizing, this will be handled with an int field in
        the transaction table, marking what category
        **I am unsure of how we will store each users custom categories

