<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <div class="row">
    <!-- Transaction List Column -->
     <!-- <h6 *ngIf="errorMessage">hey</h6> -->
    <div class="col-lg-8 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <app-transaction-list 
            (payTransactionEvent)="payTransaction($event)" 
            [transactions]="transactions" 
            [currentUser]="currentUser">
          </app-transaction-list>
        </div>
      </div>
    </div>
    <!-- Create Transaction and Deposit Column -->
    <div class="col-lg-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <app-create-transaction 
            (createTransactionEvent)="createTransaction($event)" 
            [currentUser]="currentUser">
          </app-create-transaction>
        </div>
      </div>
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <app-make-deposit 
            (makeDepositEvent)="makeDeposit($event)">
          </app-make-deposit>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-body">
          <app-transfer
          [currentUser]="currentUser"
          (transferEvent)="transfer($event)"
          ></app-transfer>
        </div>
      </div>
      
    </div>
  </div>
</div>
